@page
@model LoginModel

@{
    ViewData["Title"] = "Iniciar Sesion";
}

<h1>@ViewData["Title"]</h1>

<!--JQUERY-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    
    <!-- FRAMEWORK BOOTSTRAP para el estilo de la pagina-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    
    <!-- Los iconos tipo Solid de Fontawesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
    <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>


<!-- Nuestro css-->
    <link rel="stylesheet" type="text/css" href="static/css/login.css">

<body>
     <div class="modal-dialog text-center">
        <div class="col-sm-12 main-section">
            <div class="modal-content">
                <div class="col-12 user-img">
                    <img src="~/img/alfalogo.png" alt="" style="width:300px" class="position-relative" >
                </div>
            <section class="section-title">
                <form id="account" method="post">
                    <h2 class="fw-bold text-center pt-5 mb-5">ALFA  AGENCIA DE MARKETING DIGITAL</h2>
                    <h4 class="fw-bold text-center pt-5 mb-5">Inicie Sesion con su cuenta registrada</h4>
                    <hr />
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Input.Email"></label>
                        <input asp-for="Input.Email" class="form-control" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.Password"></label>
                        <input asp-for="Input.Password" class="form-control" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label asp-for="Input.RememberMe">
                                <input asp-for="Input.RememberMe" />
                                @Html.DisplayNameFor(m => m.Input.RememberMe)
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Iniciar Sesion</button>
                    </div>
                    <div class="form-group">
                        <p>
                            <a id="forgot-password" asp-page="./ForgotPassword">¿No recuerdas tu contraseña?</a>
                        </p>
                        <p>
                            <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Registrar un Nuevo Usuario</a>
                        </p>
                    </div>
                </form>
                <div class="container w-100 my-5">
                    <div class="row my-3 text-center">
                        <div class="col-12">Iniciar sesion con</div>
                    </div>
                    <div class="row" >
                        <div class="col">
                            <button class="btn btn-outline-primary w-100 my-1" type="button">
                                <div class="row align-items-center">
                                    <div class="d-none d-md-block col-3 col-lg-4 col-xl-4 col-xxl-3 text-center">
                                        <img src="~/img/fblogin.png" width="100%" alt="">
                                    </div>
                                    <div class="col-12 col-md-9 col-lg-8 col-xl-8 col-xxl-9 text-center">
                                        Facebook
                                    </div>
                                </div>
                            </button>
                        </div>
                        <div class="col">
                            <button class="btn btn-outline-danger w-100 my-1" type="button">
                                <div class="row align-items-center">
                                    <div class="d-none d-md-block col-3 col-lg-4 col-xl-4 col-xxl-3 text-center">
                                        <img src="~/img/google.png" width="100%" alt="">
                                    </div>
                                    <div class="col-12 col-md-9 col-lg-8 col-xl-8 col-xxl-9 text-center">
                                        Google
                                    </div>
                                </div>
                            </button>
                        </div>
                    </div>
                </div>
            </section>
            
        </div>
    
    </div>
    <script src="bootstrap.bundle.min.js"></script>
</body>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
