@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/estilos.css">
    <link rel="stylesheet" href="lib/fontawesome/css/all.min.css">
    
    <link rel="shortcut icon" href="./IMG/alfalogo.png">
    <title>ALFA AGENCIA DE MARKETING DIGITAL</title>
</head>
<body>
	<!--Slider de productos-->
    <section id="menu-productos">
        <div class="contenedor-principal">
            <button id="btn-izq"><span class="fas fa-angle-left"></span></button>
            <div class="slider">
                <div class="contenedor-productos">
                    <div class="descrip-producto">
                    	<h1> ALFA </h1>
                        <h1>Agencia De </br> Marketing Digital</h1>

                        <button class="btn">¡Solicítar Cotizacion! <span class="fas fa-angle-right"></span></button>
                    </div>
                    <div class="img-productos">
                        <img src="./IMG/camara2.png" alt="">
                    </div>
                </div>

                <div class="contenedor-productos">
                    <div class="descrip-producto">
                        <h1>Diseño </br> Web</h1>

                        <button class="btn">¡Solicítar Cotizacion! <span class="fas fa-angle-right"></span></button>
                    </div>

                    <div class="img-productos">
                        <img src="./IMG/diseñoweb2.jpg" alt="">
                    </div>

                </div>

                 <div class="contenedor-productos">
                    <div class="descrip-producto">
                        <h1>Ecommerce</h1>

                        <button class="btn">¡Solicítar Cotizacion! <span class="fas fa-angle-right"></span></button>
                    </div>

                    <div class="img-productos">
                        <img src="./IMG/socialmedia2.jpg" alt="">
                    </div>

                </div>

                 <div class="contenedor-productos">
                    <div class="descrip-producto">
                        <h1>Social </br> Media </br> Marketing</h1>

                        <button class="btn">¡Solicítar Cotizacion! <span class="fas fa-angle-right"></span></button>
                    </div>

                    <div class="img-productos">
                        <img src="./IMG/socialmedia3.png" alt="">
                    </div>

                </div>
                <div class="contenedor-productos">
                    <div class="descrip-producto">
                        <h1>Branding</h1>

                        <button class="btn">¡Solicítar Cotizacion! <span class="fas fa-angle-right"></span></button>
                    </div>

                    <div class="img-productos">
                        <img src="./IMG/branding2.png" alt="">
                    </div>

                </div>
                <div class="contenedor-productos">
                    <div class="descrip-producto">
                        <h1>Spot </br> Publicitario</h1>

                        <button class="btn">¡Solicítar Cotizacion! <span class="fas fa-angle-right"></span></button>
                    </div>

                    <div class="img-productos">
                        <img src="./IMG/publicidad.jpg" alt="">
                    </div>

                </div>
                <div class="contenedor-productos">
                    <div class="descrip-producto">
                        <h1>Sesion </br> Fotografica</h1>

                        <button class="btn">¡Solicítar Cotizacion! <span class="fas fa-angle-right"></span></button>
                    </div>

                    <div class="img-productos">
                        <img src="./IMG/fotografia2.png" alt="">
                    </div>

                </div>

            </div>
            <button id="btn-der"><span class="fas fa-angle-right"></span></button>
        </div>
    </section>
    <!-- SECCION INFORMACION -->
    <section id="servicios">
        <div class="titulos">
            <h2 class="subtitulo">agencia de marketing digital</h2>
            <h1 class="titulos">ALFA</h1>
            <div class="subtitulos">
        	<p> Somos una agencia de marketing digital Peruana especializada en Branding, Social Media Marketing, Creacion de Websites.</p>
        </div>
        </div>

    <!--Sección Servicios-->
    <section id="servicios">
        <div class="titulos">
            <h1 class="titulos">Nuestro Servicios</h1>
        </div>
        <div class="contenedor-servicios">
            <div class="img-central">
                <img src="./IMG/alfalogo.png" alt="">
            </div>

            <div class="items ecommerce">
                <p><span class="fas fa-shopping-cart"></span></p>
                <p class="titulo-item">Ecommerce</p>
                <p class="texto-item">Todo para que tu negocio comience en las ventas online de forma globalizada.</p>
            </div>

            <div class="items diseñoweb">
                <p><span class="fas fa-laptop-code"></span></p>
                <p class="titulo-item">Diseño Web</p>
                <p class="texto-item">Llevado a cabo por nuestro equipo multidisciplinario que te brindara un servicio de calidad de acuerdo a tus necesidades.</p>
            </div>

            <div class="items socialmedia">
                <p><span class="fas fa-desktop"></span></p>
                <p class="titulo-item">Social Media Marketing</p>
                <p class="texto-item">Post para las redes sociales de tu empresa y de los productos que ofreces. </p>
            </div>

            <div class="items spot">
                <p><span class="fas fa-video"></span></p>
                <p class="titulo-item">Spot Publicitario</p>
                <p class="texto-item">Nos encargamos de la produccion y Post produccion del Spot publicitario de tu producto o servicio.</p>
            </div>
             <div class="items branding">
                <p><span class="fab fa-angrycreative"></span></p>
                <p class="titulo-item">Branding</p>
                <p class="texto-item">Desarrollamos la imagen de tu empresa a traves de un logo e imagenes de acuerdo al rubro de tu empresa.</p>
            </div>
              
              <div class="items fotos">
                <p><span class="fas fa-camera"></span></p>
                <p class="titulo-item">Sesion Fotografica </p>
                <p class="texto-item">Realizamos Sesiones de fotos Comerciales y Personales.</p>
            </div>

        </div>

    </section> 
<!--Contacto-->
    <section id="contacto">
        <div class="titulos-contacto">
            <h2 class="subtitulo">Queremos conocer tu opinión</h2>
            <h1 class="titulos">Contáctanos</h1>
        </div>

        <form action="" id="formulario">
            <div class="two-fields">
                <div class="input-icono">
                    <input type="text" id="nombre" name="nombre" class="input-text" placeholder="nombre">
                    <i class="fas fa-user"></i>
                </div>

                <div class="input-icono">
                    <input type="email" id="email" name="email" class="input-email" placeholder="Email">
                    <i class="fas fa-envelope"></i>
                </div>
            </div>

            <div class="field">
                <div class="input-icono textarea-icono">
                    <textarea name="comentarios" id="comentarios" class="textarea" placeholder="Ingrese su mensaje"></textarea>
                    <i class="fas fa-comments"></i>
                </div>
            </div>

            <div class="field-btn">
                <input type="submit" class="btn btn-input" value="Enviar">
            </div>
        </form>
    </section>

    <!--Alertas-->
    <div class="alertas">
        <div id="alerta-error" class="alert hide">
            <span class="icono-alert fas fa-exclamation-circle"></span>
            <span class="msg">Error: campos de entrada vacíos</span>
        </div>

        <div id="alerta-correcto" class="alert hide">
            <span class="icono-alert fas fa-check-circle"></span>
            <span class="msg">Datos enviados: Gracias por contactarnos!</span>
        </div>
    </div>

    <!--Footer-->
    <footer>
        <div class="sociales-metodo">
            <i class="fas fa-map-marker-alt"></i>
            <span>Ubicanos en: </span>
        </div>

        <div class="sociales-metodo">
            <i class="fas fa-envelope"></i>
            <span>alfamarketing@gmail.com</span>
        </div>

        <div class="sociales-metodo">
            <i class="fas fa-phone"></i>
            <span>941604559</span>
        </div>

        <div class="sociales-metodo">
            <i class="fab fa-facebook"></i>
            <span>alfamarketing</span>
        </div>
    </footer>


    <script src="JS/app.js"></script>
    
</body>
</html>