

<div class="container">
        <div class="section-title">
            <h1 class="titulos" align="center">Consulta Enviada!!</h1>
            <hr size="35px" width="50%" align="center" color="#394665"/> 
        </div>    