@model List<Consulta>


<section id="biografia" class="biografia section-bggg">



<div class="container">
        <div class="section-title">
            <h1 class="titulos" align="center">CONSULTAS REGISTRADAS</h1>
            <hr size="35px" width="50%" align="center" color="#394665"/> 
        </div> 


<table class = "table">
<tr>
    <th>Nombres</th>
    <th>Email</th>
    <th>Consulta</th>
</tr>
@foreach (var c in Model)
{
    <tr>
        <td>@c.Nombre</td>
        <td>@c.Email</td>
        <td>@c.Consult</td>
    </tr>
}


</table>
</section>