<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] Alfa</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/style.css"/>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    <link href="~/lib/icofont/icofont.min.css" rel="stylesheet">
    <link href="~/lib/boxicons/css/boxicons.min.css" rel="stylesheet">
</head>
<body>
    <header>
        <div class="menu-principal">

       
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-dark border-bottom box-shadow mb-0">
            <div class="container">
             
                             
                <a class="navbar-brand text-whitee" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/img/alfalogo.png" width="130" height="65">ALFA</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        
                        
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Precio"  asp-action="Precios">Precios</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Portafolio" asp-action="portafolio">Portafolio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white"  asp-area="" asp-controller="Quienes" asp-action="Somos">Quienes Somos</a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
        
        </div>
    </header>
    <div >
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>        
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
  <footer id="footer">
    <div class="footer-top">
      <div class="container" data-aos="fade-up">
        <div class="row  justify-content-center">
          <div class="col-lg-6">
            <h3>ALFA MARKETING</h3>
            <p>Nuestras Redes Sociales</p>
          </div>
        </div>
        <div class="social-links">
          <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
          <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
          <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
          <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
         </div>

    <div class="container footer-bottom clearfix">
      <div class="copyright">
        &copy;ALFA | Agencia Digital. Todos los derechos reservados. 
      </div>
      <div class="credits">
        Contacto Tel: (01) 999 9999 Cel: 951 999999 
      </div>
    </div>
  </footer>

