@{
    ViewData["Title"] = "Precios-";
}
<body>
     <main role="main">
      <section id="catalogue" class="biografia section-bggg">
        <div class="container">
         <div class="section-title">
          <h2 aling = "center "data-aos="fade-in">Precio - Servicio</h2>
          <h9 data-aos="fade-in" >Consulta de Precios y realizacion de Pedidos</h9>
        </div>
    <div class="row catalogue-container" data-aos="fade-up">
      <div class="col-lg-4 catalogue-item filter-app">
        <div style="text-align:center;" >
        	<img src="~/img/pweb.jpg" class="card-img-top" alt="..." style=" height: 500px;">
        </div>
			<div class="catalogo" style="height: 250px;">
				<div style="text-align:center;" class="card-body" >
					<h5 class="card-title" style="color:#fdd067;">Diseño Web</h5>
						<p class="card-text">Necesitas una Pagina Web para dar a conocer tu marca.</p>
				<div class="col" style="text-align: center;">
						  <p style="text-align: center;"><a class="btn btn-primary" disabled><i class="icofont-price"></i> S/ 500.00</a></p>
                  <a class="btn btn-primary" href="/Orden/AddItem/29"><i class="icofont-cart"></i> Agregar</a>
					  	</div>
			  </div>
	  	</div>
    </div>
		<div class="col-lg-4 catalogue-item filter-app">
            <div style="text-align:center;" >
        		  <img src="~/img/pecommerce.jpg" class="card-img-top" alt="..." style=" height: 500px;">
            </div>
		  	<div class="catalogo" style="height: 250px;">
				  <div style="text-align:center;" class="card-body" >
					    <h5 class="card-title" style="color:#fdd067;">Ecommerce</h5>
						    <p class="card-text">Todo para que tu negocio comience en las ventas online de forma globalizada.</p>
			  	<div class="col" style="text-align: center;">
						  <p style="text-align: center;"><a class="btn btn-primary" disabled><i class="icofont-price"></i> S/ 1500.00</a></p>
                  <a class="btn btn-primary" href="/Orden/AddItem/29"><i class="icofont-cart"></i> Agregar</a>
					  	</div>
				</div>
			</div>
    </div>
		<div class="col-lg-4 catalogue-item filter-app">
            <div style="text-align:center;" >
        		  <img src="~/img/psocialmedia.jpg" class="card-img-top" alt="..." style=" height: 500px;">
            </div>
		  	<div class="catalogo" style="height: 250px;">
		    		<div style="text-align:center;" class="card-body" >
				    	<h5 class="card-title" style="color:#fdd067;">Social Media Marketing</h5>
						  <p class="card-text">Post para las redes sociales de tu empresa y de los productos que ofreces.</p>
						  <div class="col" style="text-align: center;">
						  <p style="text-align: center;"><a class="btn btn-primary" disabled><i class="icofont-price"></i> S/ 450.00</a></p>
                  <a class="btn btn-primary" href="/Orden/AddItem/29"><i class="icofont-cart"></i> Agregar</a>
					  	</div>
				</div>
			</div>
    </div>
		<div class="col-lg-4 catalogue-item filter-app">
            <div style="text-align:center;" >
        		<img src="~/img/pbranding.jpg" class="card-img-top" alt="..." style=" height: 500px;">
            </div>
			<div class="catalogo" style="height: 250px;">
				<div style="text-align:center;" class="card-body" >
					<h5 class="card-title" style="color:#fdd067;">Branding</h5>
						<p class="card-text">Desarrollamos la imagen de tu empresa de acuerdo al rubro de tu empresa.</p>
				<div class="col" style="text-align: center;">
						  <p style="text-align: center;"><a class="btn btn-primary" disabled><i class="icofont-price"></i> S/ 300.00</a></p>
                  <a class="btn btn-primary" href="/Orden/AddItem/29"><i class="icofont-cart"></i> Agregar</a>
					  	</div>
				</div>
			</div>
    </div>
		<div class="col-lg-4 catalogue-item filter-app">
            <div style="text-align:center;" >
        		  <img src="~/img/pspot.jpg" class="card-img-top" alt="..." style=" height: 500px;">
            </div>
			<div class="catalogo" style="height: 250px;">
				<div style="text-align:center;" class="card-body" >
					  <h5 class="card-title" style="color:#fdd067;">Spot Publicitario</h5>
						<p class="card-text">Produccion y Post produccion del Spot de tu producto o servicio.</p>
				  <div class="col" style="text-align: center;">
						  <p style="text-align: center;"><a class="btn btn-primary" disabled><i class="icofont-price"></i> S/ 250.00</a></p>
                  <a class="btn btn-primary" href="/Orden/AddItem/29"><i class="icofont-cart"></i> Agregar</a>
					  	</div>
				</div>
			</div>
    </div>
		<div class="col-lg-4 catalogue-item filter-app">
            <div style="text-align:center;" >
        		<img src="~/img/psesion.jpg" class="card-img-top" alt="..." style=" height: 500px;">
            </div>
			<div class="catalogo" style="height: 250px;">
				<div style="text-align:center;" class="card-body" >
					<h5 class="card-title" style="color:#fdd067;">Sesion Fotografica</h5>
						<p class="card-text">Realizamos Sesiones de fotos Comerciales y Personales.</p>
				<div class="col" style="text-align: center;">
						  <p style="text-align: center;"><a class="btn btn-primary" disabled><i class="icofont-price"></i> S/ 80.00</a></p>
                  <a class="btn btn-primary" href="/Orden/AddItem/29"><i class="icofont-cart"></i> Agregar</a>
					  	</div>
				</div>
			</div>
    </div>


        </main>
        
    <script src="/lib/jquery/dist/jquery.min.js"></script>
    <script src="/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/lib/jquery.easing/jquery.easing.min.js"></script>
    <script src="/js/site.js"></script>
    <script src="/lib/jquery/dist/jquery.min.js"></script>
    <script src="/js/site.js?v=kiomgqYW2VDSehqhKuh0EW7qq2fYklauFIbQW6OojRI"></script>
    
    
</body>
</html>