
<section id="catalogue" class="biografia section-bggg">
<div class="container">
        <div class="section-title">

            
          <div class="card">
            <div class="card-bodyy">
            <h1 class="titulos" align="center" style="color:#ffffff;">Consulta Enviada!!</h1>
            <hr  size="35px" width="50%" align="center" color="#ffffff"/> 
             </div>
          
        </div>    