<section id="biografia" class="biografia section-bggg">



<div class="container">
        <div class="section-title">
            <h1 class="titulos" align="center">CONSULTAS REGISTRADAS</h1>
            <hr size="35px" width="50%" align="center" color="#394665"/> 
        </div> 


<table class="table table-hover">
    <thead class="tables">
<tr>
    <th>Nombre</th>
    <th>Precio del producto</th>
    <th>Fecha</th>
</tr>
</table>
</section>